<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Health Status</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/check.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
    <div class="loginbox">
        <img src="{{ url_for('static', filename = 'img/medical1.jpg') }} " class="avatar">
            <h1>Check your Health status</h1>
            <form action='/check' method="POST">
                <p>Fever</p>
                <input type="text" id="fever" name="fever" placeholder="Enter Fever Value" required>
                <p>Your Age</p>
                <input type="age" id='age' name="age" placeholder="Enter Age" required>
                <div class="form-group">
                <p>Body Pain ?</p>
                <select class="form-control custom-select" id="bodyPain" name="bodyPain">
                    <option value="0">No Pain</option>
                    <option value="1">Severe Pain</option>
                </select>
                </div>
                <div class="form-group">
                <p>Runny Nose ?</p>
                <select class="form-control custom-select" id="runnyNose" name="runnyNose">
                    <option value="0">Yes</option>
                    <option value="1">No</option>
                </select>
                </div>
                <div class="form-group">
                <p>Difficulty Breathing ?</p>
                <select class="form-control custom-select" id="diffBreath" name="diffBreath">
                    <option value="-1">No Difficulty</option>
                    <option value="0">Little Difficulty</option>
                    <option value="1">Sever Difficulty</option>
                </select>
                </div><br>
                <input type="submit" name="submit" value="Submit">
            </form>
            </div>
</body>
</html>