<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Covid-19 World Map</title>
    <link href='https://api.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.css' rel='stylesheet' />
    <style>
        *{
            margin:0;
            padding:0;
        }
        #map{
            width:94vw;
            height:90vw;
        }
    </style>

</head>
<body>
    
    
    <div class="container">
    <!-- <div class="embed-container"><iframe frameborder="0" scrolling="no" margin="" title="2019-nCoV" src="https://gisanddata.maps.arcgis.com/apps/opsdashboard/index.html#/bda7594740fd40299423467b48e9ecf6"></iframe></div> -->
    <div id='map'></div>
</div>






</body>
<script src='https://api.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.js'></script>
<script>
  mapboxgl.accessToken = 'pk.eyJ1Ijoic2FhcmdlIiwiYSI6ImNrOHcxamNwNzByc3czaXByamNxODkyankifQ.AqHfF7OUfItrjZStxUWruw';
  var map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/mapbox/dark-v10',
    center: [15, 75],
    zoom: 0
  });
</script>

<script src="{{ url_for('static', filename = 'js/index.js') }}"></script>
</html>