<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notification System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/notification.css') }}">
</head>
<body>
    <header>
        <div class="cool">
            <h1>COVID 19 ENGINE</h1>
        </div>
        
        <div class="main">
        <ul>
            <li><a href="/">Home</a></li>
               
            <li><a href="/down">Download</a></li>     
        </ul>
        </div>
        <div class="title">
            <h1>COVID 19 PC Notification System</h1>
        </div>
        <div class="para">
            
        </div>
    </header>
</body>
</html>